<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="@Assets["_content/Cardfile.Shared/app.css"]" />
    <link rel="stylesheet" href="@Assets["Cardfile.Web.styles.css"]" />
    <link rel="icon" type="image/x-icon" href="_content/Cardfile.Shared/favicon.ico" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
